* {
    box-sizing: border-box;
}   

body {
    margin: 0;
    background-color: gainsboro;
}

/* defining flex rules */

.flexible {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flexible-even {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: ;
    align-content: ;
}


.flexible-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.flexible-col {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}


/* defining flex rules */

.container {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    margin-top: 1em;
}

.layout {
    width: 90%;
    height: auto;
    margin-bottom: 1vh;
}

.layout img {
    width: 100%;
    height: auto;
    margin-bottom: .5vh;
}

@media screen and (min-width: 560px) {
    .layout {
        width: 40%;
    }
}

@media screen and (min-width: 900px) {
    .layout {
        width: 24%;
    }
}