* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 8pc;
    font-family: sans-serif;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-lft {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* setting the width and other values */

/* defining the widths */

*[class*="col-"] {
    width: 90%;
}

@media only screen and (min-width: 700px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

form {
    margin: auto;
    padding: 2rem;
    background-color: teal;
    border-radius: 3pt;
}

form input, label, button {
    border: none;
    outline: none;
    border-radius: inherit;
}

form label {
    color: white;
}

form input {
    height: 2rem;
    padding: 3pt;
}

form input:focus {
    background-color: ;
    box-shadow: .5px 0 5pt #51a0fb, 0 .5px 5pt #51a0fb, -.5px 0 5pt #51a0fb, 0 -.5px 5pt #1f85f9;
    transition: background-color .2s, box-shadow .2s;
}

form button {
    height: 2rem;
    color: white;
    background-color: #e63900;
}

form button:hover {
    box-shadow: 5px 5px 10px #555;
    transition: box-shadow .2s;
}

form button:active {
    background-color: white;
    color: #e63900;
    transition: background-color .2s, color .2s;
}